<div class="container text-center">
  <p class="title-sm text-grey">
    У этого пользователя пока никто ничего не спросил
  </p>

  <div class="mt-lg mb-lg">
    <%= image_tag('not_found_question.png', alt: 'вопросов нет', width: '40%') %>
  </div>

  <%= link_to 'Спроси меня', new_question_path(user_id: @user.id), class: 'button button-yellow' %>
</div>