<div class="container">
  <h2 class="title-lg mb">Редактирование вопроса №<%= @question.id %></h2>
  <%= render 'form', question: @question %>
  <span class="text-sm">или <%= link_to 'вернуться', :back %></span>
</div>
